In [1]:
import pandas as pd
import numpy as np


# 建立两层索引 ： index= [ [索引数组1] , [索引数组2] ] 
ser_obj = pd.Series(np.random.randn(12),index=[
                ['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd'],
                [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]
            ])
print(ser_obj)

a  0    1.006445
   1    0.778926
   2    0.111942
b  0   -0.840675
   1   -0.923971
   2   -0.132893
c  0    0.873791
   1    0.476920
   2    1.828015
d  0   -0.635685
   1   -0.121559
   2    1.713326
dtype: float64

In [2]:
print(type(ser_obj.index))
print(ser_obj.index)

<class 'pandas.core.indexes.multi.MultiIndex'>
MultiIndex([('a', 0),
            ('a', 1),
            ('a', 2),
            ('b', 0),
            ('b', 1),
            ('b', 2),
            ('c', 0),
            ('c', 1),
            ('c', 2),
            ('d', 0),
            ('d', 1),
            ('d', 2)],
           )

In [3]:
# 通过索引 'c' 获取该索引所对应的值
ser_obj['c']

0    0.873791
1    0.476920
2    1.828015
dtype: float64

In [4]:
# 通过 一级索引'b' ，二级索引2 获取该索引所对应的值
ser_obj['b',2] #取某个元素

-0.13289323132355702

In [9]:
# 交换索引的层级
print(ser_obj.swaplevel())

0  a    1.006445
1  a    0.778926
2  a    0.111942
0  b   -0.840675
1  b   -0.923971
2  b   -0.132893
0  c    0.873791
1  c    0.476920
2  c    1.828015
0  d   -0.635685
1  d   -0.121559
2  d    1.713326
dtype: float64

a  0    1.006445
   1    0.778926
   2    0.111942
b  0   -0.840675
   1   -0.923971
   2   -0.132893
c  0    0.873791
   1    0.476920
   2    1.828015
d  0   -0.635685
   1   -0.121559
   2    1.713326
dtype: float64

In [6]:
#拆开 i 层索引
ser_obj.unstack(1)

          0         1         2
a  1.006445  0.778926  0.111942
b -0.840675 -0.923971 -0.132893
c  0.873791  0.476920  1.828015
d -0.635685 -0.121559  1.713326