In [2]:
import pandas as pd

# 1. 通过list构建Series
ser_obj = pd.Series(range(10))
ser_obj

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [3]:
ser_obj = pd.Series(range(10, 20))
print(ser_obj.head(3))

0    10
1    11
2    12
dtype: int64

In [4]:
# 获取数据
print(ser_obj.values)

# 获取索引
print(ser_obj.index)

[10 11 12 13 14 15 16 17 18 19]
RangeIndex(start=0, stop=10, step=1)

In [5]:
#通过索引获取数据
print(ser_obj[0])
print(ser_obj[8])

10
18

In [6]:
# 索引与数据的对应关系不被运算结果影响
print(ser_obj * 2)
print(ser_obj > 15)

0    20
1    22
2    24
3    26
4    28
5    30
6    32
7    34
8    36
9    38
dtype: int64
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [7]:
# 通过dict构建Series
year_data = {2001: 17.8, 2002: 20.1, 2003: 16.5}
ser_obj2 = pd.Series(year_data)
print(ser_obj2.head())
print(ser_obj2.index)

2001    17.8
2002    20.1
2003    16.5
dtype: float64
Index([2001, 2002, 2003], dtype='int64')

# DataFrame

In [8]:
# 通过ndarray构建DataFrame
import numpy as np

t = pd.DataFrame(np.arange(12).reshape((3, 4)))
print(t)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
dict_data = {'A': 1,
             'B': pd.Timestamp('20190926'),
             'C': pd.Series(1, index=list(range(4)), dtype='float32'),
             'D': np.array([3] * 4, dtype='int32'),
             'E': ["Python", "Java", "C++", "C"],
             'F': 'wangdao'}
df1 = pd.DataFrame(dict_data)
df1

   A          B    C  D       E        F
0  1 2019-09-26  1.0  3  Python  wangdao
1  1 2019-09-26  1.0  3    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  3       C  wangdao

In [13]:
df1.dtypes

A            int64
B    datetime64[s]
C          float32
D            int32
E           object
F           object
dtype: object

In [14]:
d1={"name":["xiaoming","xiaogang"],"age":[20,32],"tel": [10086,10010]}
print(pd.DataFrame(d1))

d2 =[{"name" : "xiaohong" ,"age" :32,"tel" :10010},{ "name": "xiaogang" ,"tel": 10000} ,{"name":"xiaowang" ,"age":22}]
print(pd.DataFrame(d2))

       name  age    tel
0  xiaoming   20  10086
1  xiaogang   32  10010
       name   age      tel
0  xiaohong  32.0  10010.0
1  xiaogang   NaN  10000.0
2  xiaowang  22.0      NaN

In [ ]:
#增加1列，新列是旧列的数值加上4
df1['G'] = df1['D'] + 4

In [ ]:
df1

In [ ]:
# 删除列
del(df1['G'] )
df1