# 4 Pandas的索引操作

In [8]:
import pandas as pd

In [1]:

ser_obj = pd.Series(range(5), index = list("abcde"))
print(ser_obj)

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [3]:
# 行索引
print(ser_obj.loc['b'])
print(ser_obj.iloc[2])

1
2

In [4]:
# 切片索引
print(ser_obj.iloc[1:3]) #左闭右开
print(ser_obj.loc['b':'d']) #左闭右闭

b    1
c    2
dtype: int64
b    1
c    2
d    3
dtype: int64

In [5]:
# 不连续索引
print(ser_obj.iloc[[0, 2, 4]])
print(ser_obj.loc[['a', 'e']])

a    0
c    2
e    4
dtype: int64
a    0
e    4
dtype: int64

In [6]:
# 布尔索引
ser_bool = ser_obj > 2
print(ser_bool)
print(ser_obj[ser_bool])

print(ser_obj[ser_obj > 2])

a    False
b    False
c    False
d     True
e     True
dtype: bool
d    3
e    4
dtype: int64
d    3
e    4
dtype: int64

# DataFrame的索引操作

In [10]:
import numpy as np
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
print(df_obj.head())

          a         b         c         d
0 -2.217347  0.799335  1.026015 -0.872354
1 -0.428065  0.254500 -1.461012 -0.484071
2  1.077857 -0.489517  0.193623 -0.587835
3 -0.663756  0.078167 -1.352887  0.260269
4  0.077104 -2.039456 -1.744962  0.193373

In [11]:
df_obj.iloc[1:3,1:3]

          b         c
1  0.254500 -1.461012
2 -0.489517  0.193623

In [13]:
df_obj.loc[1:2, 'b':'c']

          b         c
1  0.254500 -1.461012
2 -0.489517  0.193623

# 5 Pandas的对齐运算

In [14]:
s1 = pd.Series(range(10, 20), index = range(10))
s2 = pd.Series(range(20, 25), index = range(5))
print(s1)
print(s2)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0    20
1    21
2    22
3    23
4    24
dtype: int64

In [15]:
s1+s2

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [16]:
df1 = pd.DataFrame(np.ones((2,2)), columns = ['a', 'b'])
df2 = pd.DataFrame(np.ones((3,3)), columns = ['a', 'b', 'c'])

print('df1: ')
print(df1)

print('') 
print('df2: ')
print(df2)

df1:
     a    b
0  1.0  1.0
1  1.0  1.0

df2:
     a    b    c
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

In [17]:
df1  + df2

     a    b   c
0  2.0  2.0 NaN
1  2.0  2.0 NaN
2  NaN  NaN NaN

In [18]:
# fill_value
print(s1.add(s2, fill_value = 0))

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64

In [19]:
print(df1.sub(df2, fill_value = 2.))

     a    b    c
0  0.0  0.0  1.0
1  0.0  0.0  1.0
2  1.0  1.0  1.0