In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(5,4) - 1)
print(df)

          0         1         2         3
0 -0.753783 -1.747858 -2.397037  0.611082
1 -0.557438  0.174093 -1.136524 -1.075185
2 -0.332459 -0.850869 -0.010462  0.810597
3 -1.871245 -1.482729 -0.555021 -1.038947
4 -1.559087 -2.222154 -0.443373 -1.233228

In [7]:
print(np.abs(df))

          0         1         2         3
0  0.753783  1.747858  2.397037  0.611082
1  0.557438  0.174093  1.136524  1.075185
2  0.332459  0.850869  0.010462  0.810597
3  1.871245  1.482729  0.555021  1.038947
4  1.559087  2.222154  0.443373  1.233228

In [8]:
print(df.apply(lambda x : x.max(),axis=0))

0   -0.332459
1    0.174093
2   -0.010462
3    0.810597
dtype: float64

In [9]:
print(df.apply(lambda x : x.max(), axis=1))

0    0.611082
1    0.174093
2    0.810597
3   -0.555021
4   -0.443373
dtype: float64

In [10]:
f2 = lambda x : '%.2f' % x
print(df.map(f2))

       0      1      2      3
0  -0.75  -1.75  -2.40   0.61
1  -0.56   0.17  -1.14  -1.08
2  -0.33  -0.85  -0.01   0.81
3  -1.87  -1.48  -0.56  -1.04
4  -1.56  -2.22  -0.44  -1.23

## 索引排序与值排序

In [13]:
s4 = pd.Series(range(10, 15), index = np.random.randint(5, size=5))
print(s4)

3    10
4    11
0    12
1    13
2    14
dtype: int64

In [14]:
# 索引排序
s4.sort_index()

0    12
1    13
2    14
3    10
4    11
dtype: int64

In [15]:
df4 = pd.DataFrame(np.random.randn(3, 5), 
                   index=np.random.randint(3, size=3),
                   columns=np.random.randint(5, size=5))
df4

          4         4         3         1         4
1 -2.105629  0.366681 -0.321563 -1.198535 -1.109730
2  0.629513 -2.086244  0.318798  1.066905  0.487349
0 -1.749081 -1.134898  1.354358 -0.078968  0.011394

In [18]:
df4.sort_values(by=3)

          4         4         3         1         4
1 -2.105629  0.366681 -0.321563 -1.198535 -1.109730
2  0.629513 -2.086244  0.318798  1.066905  0.487349
0 -1.749081 -1.134898  1.354358 -0.078968  0.011394

# 处理缺失数据

In [19]:
df_data = pd.DataFrame([np.random.randn(3), [1., 2., np.nan],
                       [np.nan, 4., np.nan], [1., 2., 3.]])
print(df_data.head())

          0         1         2
0  0.787945 -0.799501  0.389241
1  1.000000  2.000000       NaN
2       NaN  4.000000       NaN
3  1.000000  2.000000  3.000000

In [21]:
# 计算每一列的缺失值数量
missing_values = df_data.isnull().sum()
# 计算每一列的缺失率
missing_rate = missing_values / len(df_data)
print(missing_rate)

0    0.25
1    0.00
2    0.50
dtype: float64

In [22]:
print(df_data.dropna())

          0         1         2
0  0.787945 -0.799501  0.389241
3  1.000000  2.000000  3.000000

In [23]:
print(df_data.dropna(axis=1))

          1
0 -0.799501
1  2.000000
2  4.000000
3  2.000000

In [24]:
print(df_data.fillna(-100.))

            0         1           2
0    0.787945 -0.799501    0.389241
1    1.000000  2.000000 -100.000000
2 -100.000000  4.000000 -100.000000
3    1.000000  2.000000    3.000000