# pandas 使用

In [2]:
import pandas as pd
import numpy as np

# 构造pandas对象

1、series
- 多个行索引，一个列索引
属性 : 
series.head() 返回前五行
series.index  返回索引

2、DataFrame
- 多个行索引，多个列索引

In [3]:
# 用 列表 、 字典 、 ndarray 创建pandas对象

# 用list 创建series
ser_obj = pd.Series(range(10))

# 用字典创建series
dict = {'A': 1,
             'B': pd.Timestamp('20190926'),
             'C': pd.Series(1, index=list(range(4)), dtype='float32'),
             'D': np.array([3] * 4, dtype='int32'),
             'E': ["Python", "Java", "C++", "C"],
             'F': 'wangdao'}
ser_obj2 = pd.Series(dict)

# head() 查看最多前5行数据
print(ser_obj.head())

# index 查看字典的索引
print(ser_obj2.index)

ser_obj2

0    0
1    1
2    2
3    3
4    4
dtype: int64
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

A                                                    1
B                                  2019-09-26 00:00:00
C    0    1.0
1    1.0
2    1.0
3    1.0
dtype: flo...
D                                         [3, 3, 3, 3]
E                               [Python, Java, C++, C]
F                                              wangdao
dtype: object

In [4]:

# 用ndarray数组 创建DataFrame
t = pd.DataFrame(np.arange(12).reshape((3, 4)))
t

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

##  添加，删除列

In [5]:
# 为字典创建的df 新增一列 ， 值为'D'列的值 + 4
ser_obj2['G'] = ser_obj2['D'] + 4
ser_obj2

A                                                    1
B                                  2019-09-26 00:00:00
C    0    1.0
1    1.0
2    1.0
3    1.0
dtype: flo...
D                                         [3, 3, 3, 3]
E                               [Python, Java, C++, C]
F                                              wangdao
G                                         [7, 7, 7, 7]
dtype: object

In [6]:
# 删除’G'列
del(ser_obj2['G'] )
ser_obj2

A                                                    1
B                                  2019-09-26 00:00:00
C    0    1.0
1    1.0
2    1.0
3    1.0
dtype: flo...
D                                         [3, 3, 3, 3]
E                               [Python, Java, C++, C]
F                                              wangdao
dtype: object