In [2]:
import pandas as pd
import numpy as np

dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': [np.random.randint(1,10) for i in range(8)],
            'data2': [np.random.randint(1,10) for i in range(8)]}
df_obj = pd.DataFrame(dict_obj)
print(df_obj)

  key1   key2  data1  data2
0    a    one      3      2
1    b    one      6      9
2    a    two      9      3
3    b  three      1      1
4    a    two      8      9
5    b    two      4      9
6    a    one      1      9
7    a  three      1      7

# 按 key1 分组

In [3]:
key1_group = df_obj.groupby('key1')
key1_group

# 求key1 分组后 data1 和 data2 的均值

In [7]:
key1_group.mean(numeric_only=True)

# numeric_only  ---> 只计算 含有数字的列
# numeric_only=None	根据上下文自动推断（可能会触发警告）
# numeric_only=False	尝试包括所有列（可能出错或返回 NaN）

         data1     data2
key1
a     4.400000  6.000000
b     3.666667  6.333333

In [22]:
# 获取按key1 分组后的df
grouped = df_obj.groupby('key1')
print(grouped.head())


# 统计索引为 data1 的列的数量
print('*' *60)
counted = grouped['data1'].count()
print(counted.head())

# 获取统计后，索引 a 一共有多少行
print('*' *60)
print(counted.loc['a'])

  key1   key2  data1  data2
0    a    one      3      2
1    b    one      6      9
2    a    two      9      3
3    b  three      1      1
4    a    two      8      9
5    b    two      4      9
6    a    one      1      9
7    a  three      1      7
************************************************************
key1
a    5
b    3
Name: data1, dtype: int64
************************************************************
5